/* Start global */ 
*{
	box-sizing: border-box;
}
body{

}

.container{
	width: 1100px;
	margin:auto;
}

ul{
	list-style-type: none;
	padding: 0;
	margin:0;
}
/* end global */




/* start navbar */

.navbar{
	font-size: 20px;
	height:0; 
	color: white;
	position: relative;
	z-index: 2;
}


.navbar .brand{
	float: left;
	width: 40%;
	text-transform: uppercase;
}

.navbar .links{
	float: left;
	width: 60%;
	margin-top: 15px;
	cursor: pointer;
}
.navbar .links li {
	display: inline-block;
}
.navbar .links li a{
	padding: 10px 0;
	margin:0 10px;
	border-bottom: 2px solid transparent;
	font-weight: bold;
}
.navbar .links li a{
	text-decoration: none;
	color: white;
}

.navbar .links li a.active,
.navbar .links li a:hover{
	color: cyan;
	border-bottom: 2px solid cyan;
}
/* end navbar */



/* start hearder */
.header{
	background:url("../pics/maxresdefault.jpg") no-repeat ;
	background-size: cover;
	position: relative;
}
.header .overlay{
	background:rgba(0,0,0,.7); 
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.header .bx-wrapper {
	box-shadow: none;	
	border:0;
	background:none;
	height: 100% ;
	position: relative;
	z-index: 22;
	color: white;
	text-align: center;
}
.header .bx-wrapper .bx-viewport{
	box-shadow: none;	
	border:0;
	background:none;
	height: 100% !important;
}
.header .bx-wrapper .bx-viewport .slider{
	
	height: 100px;	
}
.header .bx-wrapper .bx-viewport .slider div{
	display: block ;
}

.header .bx-wrapper .bx-viewport .slider div h2{
	font-size: 60px ;
	margin-bottom: 20px;
}

.header .bx-wrapper .bx-viewport .slider div h2 span{
	color: cyan ;
}
/* end hearder */



/* start services */
.services
{
	padding: 20px 30px;
}

.services .item{
	float: left;
	width: 28.333333%;
	margin:2%;
}

.services .item i {
	color: cyan;
	float: left;
	width: 15%;
	font-size: 51px;
	margin-right:10%;
	margin-top: 5%;
}

.services .item .info {
	float: right;
	width: 70%;
}
.services .item h3 {
	font-weight: normal;
}
.our-team{
	padding: 40px 0;
}


.our-team h2{
	font-weight: normal;
}
.box img{
	width: 100%;
	height: 140px;
}
.our-team .box1{
	float: left;
	width: 40%;
}
.our-team .box1 p{
	color: gray;
}
.our-team .box{
	float: left;
	width: 13%;
	position: relative;
}
.our-team .box .overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-color: rgba(0, 255, 255, .5);
	text-align: center;
	line-height: 134px;
	font-size: 46px;
	display: none;
}
.our-team .box:hover .overlay{
	cursor: pointer;
	display: block;
}
.our-team .box{
	margin-right: 2%;
}
/* end services */





/* start testemoinase */

.test{
	background: url("../pics/timj-EJ4qfFp1g8Q-unsplash.jpg") no-repeat;
	background-size: cover;
	height: 500px;
	position:relative;
	text-align: center;
	font-size: 25px;
}

.test .t-overlay{
	background-color: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	color: white;
	padding: 200px;
}

.test q{
	font-size: 20px;
	line-height: 2;
	display: block;
}
.test p{
	color:rgba(0, 255, 255, .5);
}

/* end testemoinase */





/* start our-projects */

.our-projects{
	padding: 40px 0;
	height: 900px;
}

.our-projects h2{
	font-weight: normal;
}

.our-projects ul{
	list-style-type: none;
	margin-top:50px;
}

.our-projects li{
	display: inline-block;
	border:2px solid #AAA;
	color: #AAA;
	padding: 10px;
	border-radius: 5px;
	margin-right: 5px;
	cursor: pointer;
}

.our-projects li.selected{
	background-color: cyan;
	color: white;
}
.our-projects .row{
	margin-bottom: 32%;
}
.our-projects .row >div{
	width: 32.3333%;
	float: left;
	position: relative;
}
.our-projects .row >div img{
	width: 100%;
	height: 300px;
}
.our-projects .row >div:nth-child(2),
.our-projects .row >div:nth-child(5){
	margin:0 1.5%
}
.our-projects .gallery{
	margin-top: 50px;
	overflow: hidden;
}
.our-projects .gallery .heart{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
#Container .mix
{
	display: none;
}

.our-projects .row >div .overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 255, 255, .5);
	text-align: center;
	color: white;
	line-height: 300px;
	font-size: 25px;
	display: none;
}

.our-projects .row >div:hover .overlay{
	cursor: pointer;
	display: block;
}

/* end our-projects */






/* start footer */

.footer{
	background-color: #232323;
	color: #6c6c6c;
	padding: 40px 0;
	overflow: hidden;
}

.footer .col{
	width: 25%;
	float: left;

}

.footer .col h2{
	color: #fff;
	font-weight: normal;
	font-size: 18px;
}

.footer .col p{
	margin-bottom: 20px;
	line-height: 1.6;
}

.footer .col i{
	display: inline-block;
	color: #979797;
	border:2px solid #979797;
	padding: 10px;
	width: 40px;
}
.footer .col>span{
	display: inline-block;
	color: #979797;
	border:1px solid #979797;
	padding: 10px;
	margin-left: 5px;
	margin-bottom: 5px;
}
.footer .recent div{
	overflow: hidden;
	margin-bottom: 10px;
}
.footer .recent div img{
	float: left;
	margin-right: 10px;
}
.footer .recent div h4{
	margin:6px 0;
	color: #CCC;
	font-weight: normal;
}

.footer .blog ul li{
	padding: 15px;
	border-bottom: 1px solid #979797;
	color: #CCC;
}
.footer .copyRight{
	margin-top: 30px;
}

/* end footer */



/* start Framwork */

.clearFix{
	clear: both;
}

.speaical-head{
	position: relative;
}

.speaical-head:after{
	content:"";
	position: absolute;
	display: block;
	top: 27px;
	left: 0;
	border:2px solid black;
	width: 40px;
	margin-top: 5px;
}

.separetor{
	margin-bottom:60px;
	border-bottom: 1px solid gray;
}
/* end Framwork */